<div class="selectableContainer">
    <div class="logo" ng-class="{hidden: isAboutState || isWorkState}">
        <div class="lineOne">LEFTERIS</div>
        <div class="lineTwo">KOKKONAS</div>
    </div>
    <div class="columnLeft" ng-class="{open: isAboutState}">
        <div class="contentContainer">
            <div class="table">
                <div class="row">
                    <div class="cell">
                        <a class="closeAbout" ng-show="isAboutState && !isWorkState" ui-sref="home"><span>C<br/>L<br/>O<br/>S<br/>E</span></a>
                        <span class="sectionTitle aboutTitle" ng-click="goToState('home.about')">
                            ABOUT&nbsp;&nbsp;ME <a ui-sref="home.about" class="viewMore">E<br/>X<br/>P<br/>L<br/>O<br/>R<br/>E</a>
                        </span>

                        <span class="aboutContentNeutral" ng-show="!isAboutState && !isWorkState">

                        </span>
                        <div class="aboutContentOpen" ng-show="isAboutState && !isWorkState" scrollsizescanner ng-scrollable="{scrollX:'none',scrollY:'left'}">
                            <div ui-view="about"></div>
                        </div>
                        <span class="aboutContentClosed" ng-show="!isAboutState && isWorkState">

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columnRight" ng-class="{open: isWorkState}">
        <div class="contentContainer">
            <h1>
                <span>
                    <span>
                        A SELECTION<br/><span>OF MY</span>
                    </span>
                    WORK
                </span>
            </h1>
            <div class="table">
                <div class="row">
                    <div class="cell">
                        <a class="closeWork" ng-show="!isAboutState && isWorkState" ui-sref="home"><span>C<br/>L<br/>O<br/>S<br/>E</span></a>
                        <span class="sectionTitle workTitle" ng-click="goToState('home.work')">
                            MY&nbsp;&nbsp;WORK <a ui-sref="home.work" class="viewMore">E<br/>X<br/>P<br/>L<br/>O<br/>R<br/>E</a>
                        </span>
                        <span class="workContentNeutral" ng-show="!isAboutState && !isWorkState">

                        </span>
                        <div class="workContentOpen" ng-show="!isAboutState && isWorkState" angle="5" scrollsizescanner ng-scrollable="{scrollX:'none',scrollY:'left'}">
                            <div ui-view="work"></div>
                        </div>
                        <span class="workContentNeutral" ng-show="isAboutState && !isWorkState">

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
