$lineEffectDuration: 0.1s;

.columnRight{
    position: absolute;
    width: 100%;
    top: -50%;
    bottom: -50%;
    left: 50%;
    background: $outlineBorderBackground;
    z-index: 1;

    @include transform(rotate(20deg));
    @include transform-origin(0% 50%);
    @include transition(all 0.3s ease-in-out);

    .contentContainer {
        position: absolute;
        width: 50%;
        height: 50%;
        top:25%;
        left: 0;

        @include transform(rotate(-20deg));
        @include transform-origin(0% 50%);
        @include transition(all 0.3s ease-in-out);

        h1 {
            display: none;
        }
    }

    &.open {
        z-index: 2;
        left: 10%;

        @include transform(rotate(5deg));

        .contentContainer {
            width: 90%;
            padding: 0;

            @include transform(rotate(0deg));

            .workTitle {
                display: none;
            }

            h1 {
                display: block;
                position: absolute;
                width: 100%;
                z-index: 2;
                right:0;
                top:-10px;
                text-align: right;
                font-family: $titleFont;
                font-size: 4em;
                height: 80px;
                overflow: hidden;
                margin:0;
                padding: 0 30px 0 0;
                text-shadow: 2px 2px 0 #fff;

                @include transform(rotate(-5deg));
                @include transform-origin(0% 0%);

                &>span {
                    display: inline-block;
                    position: relative;
                    padding: 0 10px 5px 5px;

                    &:before {
                        content: ' ';
                        position: absolute;
                        top: 0;
                        bottom: 10px;
                        left: 0;
                        right: 0;
                        background: #eee;
                        opacity: 0.7;
                        z-index: -1;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        left: -80px;
                        top: -5px;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 80px 80px 0;
                        border-color: transparent #eee transparent transparent;
                        opacity: 0.7;
                    }

                    &>span {
                        display: inline-block;
                        font-family: $titleFont;
                        font-size: 0.35em;
                        padding-right: 0;

                        span {
                            letter-spacing: -0.5px;
                        }
                    }
                }
            }
        }
    }
}

.workTitle {
    right: 0;
    bottom: 220px;

    @include transform(rotate(-90deg));
    @include transform-origin(100% 100%);

    .viewMore {
        right: -130px;
        top: 6px;

        @include transform(rotate(90deg));
        @include transform-origin(0% 13%);
    }
}

.closeWork {
    position: absolute;
    display: block;
    width: em(50);
    height: em(180);
    background: #ddd;
    line-height: 1.5em;
    top: - em(130);
    left: - em(0);
    z-index: 3;
    text-decoration: none;

    @include transition(all 0.2s linear);

    &:before {
        content: ' ';
        position: absolute;
        display: block;
        @include size(em(35));
        left: em(7.5);
        bottom: em(7.5);
        background: url('/img/close.svg') no-repeat center center;
        background-size: contain;
    }

    span {
        position: relative;
        text-decoration: none;
        color: #000;
        padding: em(5) em(12);
        display: block;
        font-family: $titleFont;
        font-size: 1.5em;
    }

    &:hover {
        top:- em(10);
        right: - em(60);
    }
}

.portfolioWrapper {
    padding: 25px 0 50px 20px;
    @include container(95%);

    .portfolioItem {
        @include span(6 of 12);
        background: #ddd;
        overflow: hidden;
        border:3px solid #ddd;
        position: relative;
        margin-bottom: em(20);
        opacity: 0;

        &:nth-of-type(2n) {
            @include span(6 of 12 last);
        }

        @include animation(fadeInUpSmall 0.4s ease-in-out);
        @include animation-fill-mode(forwards);

        @for $i from 1 through 40 {
            &:nth-child(#{$i}) {
                @include animation-delay((0.1s * $i) + 0.3s);
            }
        }

        .padder {
            width: 100%;
            padding-bottom: 56.25%;
        }

        .bg {
            display: block;
            background-size: cover;
            position: absolute;
            top:2px;
            left: 2px;
            bottom: 2px;
            right: 2px;
            z-index: 1;
        }

        .overlay {
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom: 0;
            text-align: center;
            z-index: 2;

            .table {
                width: 100%;
                position: relative;
                opacity: 0;
                z-index: 5;

                .name {
                    font-family: $titleFont;
                    display: block;
                    font-size: 2em;
                }

                .desc {
                    display: block;
                    font-size: 0.8em;
                    padding: 10px 20px;
                }

                .tech {
                    display: block;
                    font-size: 0.8em;
                    color: #999;
                }
            }

            &:before, &:after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 200%;

                @include transform(rotate(20deg));
                @include transition(all 0.1s ease-in-out);
            }

            &:before {
                background: #ddd;
                left: -150%;
                top: -25%;

                @include transform-origin(100% 50%);
            }

            &:after {
                background: #ccc;
                right: -150%;
                top: -50%;

                @include transform-origin(0% 50%);
            }

            .lineTop, .lineRight, .lineBottom, .lineLeft {
                display: block;
                position: absolute;
                background: #999;
                z-index: 2;
            }

            .lineTop {
                top:10px;
                height: 2px;
                left:10px;
                right: calc(100% - 10px);

                @include transition(all $lineEffectDuration ease-in-out $lineEffectDuration);
            }

            .lineRight {
                top:10px;
                right: 10px;
                width: 2px;
                bottom: calc(100% - 10px);

                @include transition(all $lineEffectDuration ease-in-out ($lineEffectDuration * 2));
            }

            .lineBottom {
                bottom:10px;
                right: 10px;
                height: 2px;
                left: calc(100% - 10px);

                @include transition(all $lineEffectDuration ease-in-out ($lineEffectDuration * 3));
            }

            .lineLeft {
                bottom:10px;
                left:10px;
                width:2px;
                top: calc(100% - 10px);

                @include transition(all $lineEffectDuration ease-in-out ($lineEffectDuration * 4));
            }
        }

        &:hover {
            .overlay {
                &:before {
                    left:-50%;
                }

                &:after {
                    right:-50%;
                }

                .lineTop {
                    right: 10px;
                }

                .lineRight {
                    bottom: 10px;

                }

                .lineBottom {
                    left: 10px;
                }

                .lineLeft {
                    top: 10px;
                }

                .table {
                    @include animation(fadeInUpSmall 0.5s ease-in-out ($lineEffectDuration ));
                    @include animation-fill-mode(forwards);
                }
            }
        }
    }
}

@include large-desktop {

}

@include tablet {
    .columnRight {
        &.open {
            .contentContainer {

                .portfolioWrapper {
                    padding: 80px 5px 10px 5px;

                    .portfolioItem {
                        @include span(12 of 12);
                        margin-bottom: em(20);

                        &:nth-of-type(2n) {
                            @include span(12 of 12 last);
                        }

                        .overlay {
                            .table {
                                .name {
                                    font-weight: bold;
                                }

                                .desc {
                                    font-size: 1.1em;
                                    font-weight: 200;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include mobile {

    .workTitle {
        min-width: 150px;
        right: 0;
        bottom: 150px;

        .viewMore {
            top: -2px;
            right: -84px;
        }
    }

    .columnRight {
        width: 100%;
        left: 50%;

        &.open {
            z-index: 2;
            width: 100%;
            height: 100%;
            right: 0;
            left:0;
            top:0;

            @include transform(rotate(0deg));

            .contentContainer {
                width: 100%;
                height: 100%;
                top:0;
                left:0;
                padding: 0 0 0 0;

                @include transform(rotate(0deg));

                .workTitle {
                    display: none;
                }

                h1 {
                    z-index: 2;
                    right: 0;
                    top: 0;
                    font-size: 3em;
                    height: auto;
                    overflow: hidden;
                    padding: 0;

                    @include transform(rotate(0deg));

                    & > span {
                        padding: 0 5px;

                        &:before {
                            bottom: 0;
                        }

                        & > span {
                            font-size: 0.25em;
                            padding-right: 0;
                            position: relative;
                            top: -10px;
                        }
                    }
                }

                .portfolioWrapper {
                    padding: 80px 5px 10px 5px;
                    @include container(100%);

                    .portfolioItem {
                        @include span(12 of 12);
                        margin-bottom: em(20);

                        &:nth-of-type(2n) {
                            @include span(12 of 12 last);
                        }

                        .padder {
                            padding-bottom: 75%;
                        }

                        .overlay {
                            .table {
                                .name {
                                    font-size: 1.4em;
                                }

                                .desc {
                                    font-size: 0.8em;
                                    padding: 10px 20px;
                                }

                                .tech {
                                    font-size: 0.8em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}