@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";

@import "../bower_components/susy/sass/susy";

$susy: (
    flow: ltr,
    math: fluid,
    output: float,
    gutter-position: after,
    container: auto,
    container-position: center,
    columns: 12,
    gutters: .25,
    column-width: false,
    global-box-sizing: content-box,
    last-flow: to,
    debug: (
        image: hide,
        color: rgba(#66f, .25),
        output: background,
        toggle: top right,
    ),
    use-custom: (
        background-image: true,
        background-options: false,
        box-sizing: true,
        clearfix: false,
        rem: true,
    ),
    mobile-breakpoint: 640px,
    tablet-breakpoint: 860px
);

@mixin desktop {
    @media (min-width: susy-get(tablet-breakpoint) + 1px ) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: susy-get(mobile-breakpoint) + 1px) and (max-width: susy-get(tablet-breakpoint)) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: susy-get(mobile-breakpoint)) {
        @content;
    }
}

html,body {
    height: 100%;
    margin:0;
    padding: 0;
    overflow: hidden;
    position: relative;
    font-family: 'Lato', sans-serif;
}

div {
    box-sizing: border-box;
}

.outerFrame {
    height: 100%;
    position: relative;
    padding:20px;
    //border: 20px solid #eee;

    &>.borderTop, &>.borderLeft, &>.borderBottom, &>.borderRight {
        display: block;
        position: absolute;
        background: #eee;
        z-index: 2;
    }

    &>.borderTop {
        top:0;
        left: 0;
        height: 20px;
        width: 100%;
    }

    &>.borderLeft {
        top:0;
        left: 0;
        bottom: 0;
        width: 20px;
    }

    &>.borderBottom {
        bottom:0;
        left: 0;
        height: 20px;
        width: 100%;
    }

    &>.borderRight {
        top:0;
        right: 0;
        bottom: 0;
        width: 20px;
    }

    div[ui-view] {
        position: relative;
        height: 100%;
        z-index: 1;
    }
}

.table {
    display: table;
    width: 100%;
    height: 100%;

    .row {
        display: table-row;

        .cell {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.selectableContainer {
    height: 100%;
    width: 100%;
    position: relative;

    .columnLeft, .columnRight{
        position: absolute;
        width: 100%;
        top:-50%;
        bottom: -50%;
        @include transform(rotate(20deg));
        @include transition(all 0.3s ease-in-out);
        z-index: 1;
        //@include transition(z-index 0s 0.2s ease-in-out);

        .contentContainer {
            position: absolute;
            width: 50%;
            height: 50%;
            top:25%;
            //background: BLUE;
            @include transform(rotate(-20deg));
            @include transition(all 0.3s ease-in-out);
        }
    }

    .columnLeft {
        right:50%;
        //background: #4294f0;
        @include transform-origin(100% 50%);
        background: #fff;

        .contentContainer {
            right: 0;
            @include transform-origin(100% 50%);
        }

        &.open {
            z-index: 2;
            right: 10%;

            @include transform(rotate(10deg));

            .contentContainer {
                width: 90%;
                padding: 20px 50px 20px 0px;
                @include transform(rotate(-10deg));
            }
        }
    }

    .columnRight {
        //display: none;
        left: 50%;
        background: #eee;
        @include transform-origin(0% 50%);

        .contentContainer {
            left: 0;
            @include transform-origin(0% 50%);
        }

        &.open {
            left: 10%;
            @include transform(rotate(5deg));
            z-index: 2;

            .contentContainer {
                @include transform(rotate(-5deg));
            }
        }
    }
}

.logo {
    z-index: 5;
    position: absolute;
    height: 100px;
    top:50%;
    margin-top:-50px;
    width: 100%;
    font-family: 'Megrim', cursive;
    font-size: 50px;
    @include transform(rotate(-70deg));

    .lineOne, .lineTwo {
        line-height: 50px;
        position: absolute;
        width: 200px;
        @include transition(all 0.3s ease-in-out);
    }

    .lineOne {
        top:0;
        left: 0;

        @include animation(left-in 0.4s ease-in-out);
        @include animation-fill-mode(forwards);
    }

    .lineTwo {
        bottom:0;
        right: 0;
        @include transform(rotateY(180deg));
        @include animation(right-in 0.4s ease-in-out);
        @include animation-fill-mode(forwards);

    }

    &.hidden {
        @include animation(logo-exit 0.1s ease-in-out);
        @include animation-fill-mode(forwards);

        .lineOne {
            @include animation(left-out 0.4s ease-in-out);
        }

        .lineTwo {
            @include animation(right-out 0.4s ease-in-out);
        }
    }
}

@include keyframes (logo-exit) {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
        z-index: 0;
    }
}


@include keyframes (left-in) {
    0% {
        opacity: 0;
        left: 0;
    }
    100% {
        opacity: 1;
        left: 50%;
    }
}

@include keyframes (left-out) {
    0%{
        opacity:1;
        left: 50%;
    }
    100%{
        opacity: 0;
        left: 0;
    }
}

@include keyframes (right-in) {
    0%{
        opacity:0;
        right: 0;
    }
    100%{
        opacity:1;
        right: 50%;
    }
}

@include keyframes (right-out) {
    0%{
        opacity:1;
        right: 50%;
    }
    100%{
        opacity: 0;
        right: 0;
    }
}

.selectableContainer {
    .open {
        .aboutTitle {
            @include transform(rotate(0deg));

            .viewMore {
                opacity:0;
            }
        }

        .workTitle {
            opacity: 0;
        }

        .table .row .cell {
            padding: 70px 0;
        }
    }
}

.aboutTitle, .workTitle {
    font-family: 'Megrim', cursive;
    font-size: 4em;
    line-height: 55px;
    height: 55px;
    display: block;
    position: absolute;
    @include transition(all 0.3s ease-in-out);
}

.aboutTitle {
    top: 5px;
    left: 5px;

    @include transform(rotate(90deg));
    @include transform-origin(25px 25px);

    .viewMore {
        right: -100px;
        top: 0;

        @include transform(rotate(-90deg));
        @include transform-origin(-25% 50%);
    }
}

.workTitle {
    right: -250px;
    bottom: 5px;
    @include transform(rotate(-90deg));
    @include transform-origin(0% 100%);

    .viewMore {
        right: -145px;
        top: 0;
        @include transform(rotate(90deg));
        @include transform-origin(0% 13%);
    }
}

.viewMore {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-size: 0.2em;
    line-height: 1em;
    padding: 8px 10px;
    border: 1px solid #000;
    font-weight: 300;
    position: absolute;
    text-align: center;
    @include transition(all 0.1s ease-in-out);


    &:after, &:before {
        position: absolute;
        display: block;
        content: ' ';
        width: 1px;
        top:3px;
        bottom: 3px;
        background: #000;
        @include transition(all 0.1s ease-in-out);
    }

    &:before {
        left: -1px;
    }

    &:after {
        right: -1px;
    }

    &:hover {
        &:before {
            left: -5px;
        }

        &:after {
            right: -5px;
        }
    }
}

.aboutContentOpen {

    .container {
        display: block;
        @include container(100%);
        @include clearfix();
        padding: 30px 50px 20px 40px;


        .col {
            @include desktop {
                @include span(4 of 12);

                &:last-of-type {
                    @include span(4 of 12 last);
                }
            }

            @include tablet {
                @include span(6 of 12);

                &:last-of-type {
                    @include span(6 of 12 last);
                }
            }

            @include mobile {
                @include span(12 of 12);

                &:last-of-type {
                    @include span(12 of 12 last);
                }
            }

            .title {
                display: inline-block;
                position: absolute;
                padding: 4px 8px;
                background: #999;
                color: #fff;
                font-weight: 400;
            }

            .text {
                @include animation(fadeInDown 0.4s ease-in-out);
                @include animation-fill-mode(forwards);

                position: relative;
                display: block;
                background: #eee;
                padding: 15px;
                font-size: 1.4em;
                font-weight: 300;
                line-height: 1.4em;

                p {
                    margin: 0;
                    padding: 0 0 15px 0;

                    &:last-of-type {
                        padding-bottom: 0;
                    }
                }

                .title {
                    left: -10px;
                    top: -30px;
                }
            }

            .pictureFrame {
                @include animation(fadeInUp 0.4s ease-in-out);
                @include animation-fill-mode(forwards);

                font-size: 1.4em;
                background: #eee;
                height: 500px;
                position: relative;

                .title {
                    @include transform(rotate(90deg));
                    @include transform-origin(0% 100%);
                    top: -45px;
                    left: -10px;
                }

                .picture {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    right: -10px;
                    bottom: -10px;
                    background: url("/img/pic2.jpg") center center no-repeat;
                    background-size: cover;
                }
            }

            .buzzwords {
                @include animation(fadeInUp 0.4s ease-in-out);
                @include animation-fill-mode(forwards);

                position: relative;
                font-size: 1.4em;

                h2 {
                    margin: 20px 0;

                    &:first-of-type {
                        margin-top: 0;
                    }
                }

                .title {
                    text-align: center;
                    right: -10px;

                    @include transform(rotate(-90deg));
                    @include transform-origin(100% 0%);
                }

                a {
                    display: inline-block;
                    padding: 5px 8px;
                    border: 1px solid #000;
                    text-decoration: none;
                    margin-bottom: 5px;
                    color: #000;
                    position: relative;

                    &:after, &:before {
                        position: absolute;
                        display: block;
                        content: ' ';
                        background: #000;
                        height: 3px;
                        bottom: 0;
                        margin-top: -1.5px;
                        right: 50%;
                        left: 50%;
                        @include transition(all 0.2s ease-in-out);
                    }

                    &:hover {
                        &:after {
                            right: 0px;
                        }

                        &:before {
                            left: 0px;
                        }
                    }
                }
            }
        }
    }
}

@include keyframes (fadeInDown) {
    0% {
        opacity: 0;
        @include transform(translate3d(0, -100%, 0));
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        @include transform(none);
    }
}

@include keyframes (fadeInUp) {
    0% {
        opacity: 0;
        @include transform(translate3d(0, 100%, 0));
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        @include transform(none);
    }
}

.socials {
    text-align: center;
    margin: 0;

    a {
        display: inline-block;
        @include size(70px);
        color: #000;
        text-decoration: none;
        margin: 4px;
        @include transition(all 0.2s ease-in-out);

        &.facebook {
            background: url('/img/facebook-square.svg') no-repeat center center;
        }

        &.linkedin {
            background: url('/img/linkedin.svg') no-repeat center center;
        }

        &.github {
            background: url('/img/github.svg') no-repeat center center;
        }

        &.gmail {
            background: url('/img/mail.svg') no-repeat center center;
        }

        &:hover {
            @include transform(rotate(20deg));

        }
    }
}


.ngsb-wrap .ngsb-scrollbar {
    left: -2px;
    right: auto;
    width: 15px;

    .ngsb-thumb-pos .ngsb-thumb {
        width: 100%;
        background: #ddd;
        border-radius: 0;
    }

    .ngsb-track {
        width: 100%;
        border-radius: 0;
        background: 999;
    }

}

